@model List<ResultCommentDto>

@{
    ViewData["Title"] = "CommentList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Comment List By Blog Name</h4>
                        <p class="card-subtitle mb-4">
                            You can see the list of comments made about blogs on this page.
                            You can remove or reactivate relevant comments.
                            You can use the buttons under the comments for this.
                        </p>
                        @foreach (var item in Model)
                        {
                            count++;
                            <div class="col-md-12">
                                <div class="card">
                                    <h5 class="card-header">Blog Title - @item.Title</h5>
                                    <div class="card-body">
                                        <h4 class="card-title">@item.Name -  @item.CreatedDate.ToShortDateString()</h4>
                                        <p class="card-text">
                                            @item.Description.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





