@model List<ResultSocialMediaDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluId">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Social Media Information Area</h4>
                        <p class="card-subtitle mb-4">
                            This is the page where you can manage information about the social media accounts you use.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>Remove</th>
                                        <th>Update</th>
                                        <th>Open Page</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Any())
                                    {
                                        @foreach (var item in Model)
                                        {
                                            count++;
                                            <tr>
                                                <td>@count</td>
                                                <td>@item.Name</td>
                                                <td><a href="/Admin/AdminSocialMedia/RemoveSocialMedia/@item.SocialMediaID" class="btn btn-outline-danger">Remove</a></td>
                                                <td><a href="/Admin/AdminSocialMedia/UpdateSocialMedia/@item.SocialMediaID" class="btn btn-outline-success">Update</a></td>
                                                <td><a href="/Admin/AdminSocialMedia/UpdateSocialMedia/@item.SocialMediaID" class="btn btn-outline-dark" target="_blank">Open Page</a></td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <script>
                                            $(document).ready(function () {
                                                Swal.fire({
                                                    icon: "error",
                                                    title: "Oops...",
                                                    text: "No SocialMedia found!",
                                                });
                                            });
                                        </script>
                                    }
                                </tbody>
                            </table>
                            <br />
                            <a href="/Admin/AdminSocialMedia/CreateSocialMedia/" class="btn btn-outline-dark">Create New Social Media</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

