@model UpdatePricingDto
@{
    ViewData["Title"] = "UpdatePricing";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Update Pricing Period Page</h4>
                        <p class="card-subtitle mb-4">You can edit the data in the payment period field from the panel below.</p>
                        <form method="post">
                            <input type="hidden" asp-for="PricingID" />
                            <div class="form-group">
                                <label for="exampleInputName">Pricing Period Title</label>
                                <input type="text" class="form-control" id="exampleInputTitle" asp-for="Name" oninput="this.value = this.value.replace(/[^a-zA-ZçÇğĞıİöÖşŞüÜ\s]/g, '')">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Save Pricing Period</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
