@using System.Globalization

@model List<ResultCommentDto>

<style>
    .comment-list .comment {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1em; 
    }

    .vcard.bio {
        margin-right: 1em; 
    }

        .vcard.bio img {
            width: 24px;
            height: 24px;
        }

    .comment-body {
        flex: 1; 
    }

        .comment-body h3 {
            margin: 0; 
        }

    .meta {
        font-size: 0.9em; 
        color: #666; 
        margin-bottom: 0.5em; 
    }
</style>

<ul class="comment-list">
    @foreach (var item in Model)
    {
        <li class="comment">
            <div class="vcard bio">
                <img src="@Url.Content("~/carbook-master/images/comment.jpg")" alt="Yorum resmi">
            </div>
            <div class="comment-body">
                <h3>@item.Name</h3>
                <div class="meta">@item.CreatedDate.ToString("dd - MMM - yyyy", new CultureInfo("en-US"))</div>
                <p>@item.Description</p>
            </div>
        </li>
    }
</ul>
