@model List<RentACarProject.Dto.CategoryDtos.GetCategoryWithBlogCountResult>

<div class="sidebar-box ftco-animate">
    <div class="categories">
        <h3>Categories</h3>
        @foreach (var item in Model)
        {
            <p>@item.categoryName (@item.blogCount)</p>
        }
    </div>
</div>
