@model List<string>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<body>
    <ul>
        @foreach (var faq in Model)
        {
            <li>@faq</li>
        }
    </ul>
</body>
</html>

