@model List<string>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.v1</title>
</head>
<body>
    <ul>
        @foreach (var faq in Model)
        {
            <li>@faq</li>
        }
    </ul>
</body>
</html>

