@model CreateBrandDto
@{
    ViewData["Title"] = "CreateBrand";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div asp-validation-summary="All" class="text-danger"></div>


<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">New Brand Entry</h4>
                        <p class="card-subtitle mb-4">You are kindly requested to fill in the following fields completely. Please be sure to press the "Save Brand" button to register the new Brand.</p>
                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputName">Brand Name</label>
                                <input type="text" class="form-control" id="featureName" name="Name" asp-for="Name" oninput="this.value = this.value.replace(/[^a-zA-Z\s]/g, '')">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Create Brand</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>