@model UpdateBrandDto
@{
    ViewData["Title"] = "UpdateBrand";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Update Brand Page</h4>
                        <p class="card-subtitle mb-4">
                            It's important to fill in the basic information about the brand completely. After entering the data, you can complete the update process by clicking the save button.
                        </p>
                        <form method="post">
                            <input type="hidden" asp-for="BrandID" />
                            <div class="form-group">
                                <label for="exampleInputName">Brand Name</label>
                                <input type="text" class="form-control" id="featureName" name="Name" asp-for="Name" oninput="this.value = this.value.replace(/[^a-zA-Z\s]/g, '')">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Save Brand</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>