@model UpdateCarDto

@{
    ViewData["Title"] = "UpdateCar";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Car Update Page</h4>
                        <p class="card-subtitle mb-4">
                            It's important to fill in the basic information about the car completely. After entering the data, you can complete the update process by clicking the save button.
                        </p>
                        <form method="post" asp-action="UpdateCar">
                            <input type="hidden" asp-for="CarID" />
                            <div class="form-group">
                                <label asp-for="BrandID"></label>
                                @Html.DropDownListFor(x => x.BrandID, (List<SelectListItem>)ViewBag.BrandValues, "Select Brand", new { @class = "form-control" })
                                <span asp-validation-for="BrandID" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Model"></label>
                                <input type="text" class="form-control" asp-for="Model" oninput="this.value = this.value.replace(/[^a-zA-ZçÇğĞıİöÖşŞüÜ\s]/g, '')">
                                <span asp-validation-for="Model" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CoverImagerUrl"></label>
                                <input type="text" class="form-control" asp-for="CoverImagerUrl">
                                <span asp-validation-for="CoverImagerUrl" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Mileage"></label>
                                <input type="number" class="form-control" asp-for="Mileage" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                                <span asp-validation-for="Mileage" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Year"></label>
                                <input type="number" class="form-control" asp-for="Year" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                                <span asp-validation-for="Year" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Transmission"></label>
                                <input type="text" class="form-control" asp-for="Transmission" oninput="this.value = this.value.replace(/[^a-zA-ZçÇğĞıİöÖşŞüÜ\s]/g, '')">
                                <span asp-validation-for="Transmission" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Seat"></label>
                                <input type="number" class="form-control" asp-for="Seat" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                                <span asp-validation-for="Seat" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Luggage"></label>
                                <input type="number" class="form-control" asp-for="Luggage" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                                <span asp-validation-for="Luggage" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Fuel"></label>
                                <input type="text" class="form-control" asp-for="Fuel" oninput="this.value = this.value.replace(/[^a-zA-ZçÇğĞıİöÖşŞüÜ\s]/g, '')">
                                <span asp-validation-for="Fuel" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BigImageUrl"></label>
                                <input type="text" class="form-control" asp-for="BigImageUrl">
                                <span asp-validation-for="BigImageUrl" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Create Car</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>