@model UpdateCategoryDto
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Update Blog Category Page</h4>
                        <p class="card-subtitle mb-4">You can enter the data you want to update in the category field from the panel below.</p>
                        <form method="post">
                            <input type="hidden" asp-for="CategoryID"/>
                            <div class="form-group">
                                <label for="exampleInputName">Category Name</label>
                                <input type="text" class="form-control" id="exampleInputName" asp-for="Name">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Save Category</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
