@model List<GetAuthorByBlogAuthorIdDto>

<style>
    .about-author {
        background: #fdfdfd; 
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); 
        margin-bottom: 20px;
        padding: 20px; 
    }

    .bio img {
        width: 330px;
        height: 160px;
        object-fit: cover;
        border-radius: 8px; 
    }

    .bio {
        margin-right: 20px;
    }

    .desc h3 {
        font-size: 24px;
        font-weight: 600;
        color: #333;
        margin-bottom: 10px;
    }

    .desc p {
        font-size: 16px;
        color: #555;
    }
</style>

@foreach (var item in Model)
{
    <div class="about-author d-flex p-4 bg-light">
        <div class="bio mr-5">
            <img src="@item.AuthorImageUrl" alt="Image placeholder" class="img-fluid mb-4">
        </div>
        <div class="desc">
            <h3>@item.AuthorName</h3>
            <p>@item.AuthorDescription</p>
        </div>
    </div>
}
