
<div class="about-author d-flex p-4 bg-light">
    <div class="bio mr-5">
        <img src="/carbook-master/images/haydo.jpg" alt="Image placeholder" class="img-fluid mb-4" width="479" height="479">
    </div>
    <div class="desc">
        <h3>Küfürbaz Haydo</h3>
        <p>İn dereye dereye de geçtu bizden sevdaluk oy geçtu bizden sevdaluk oy</p>
    </div>
</div>