@model UpdateFeatureDto
@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Update Feature Page</h4>
                        <p class="card-subtitle mb-4">You are kindly requested to fill in the following fields completely. Please be sure to press the "Save Feature" button save information.</p>
                        <form method="post">
                            <input type="hidden" asp-for="FeatureID" />
                            <div class="form-group">
                                <label for="exampleInputName">Feature Name</label>
                                <input type="text" class="form-control" id="exampleInputName" asp-for="Name">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Save Feature</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


