@model RentACarProject.Dto.LoginDtos.UpdateAdminEmailDto
@{
    ViewData["Title"] = "UpdateAdminEmail";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="comment-form-wrap pt-5">
    <h3 class="mb-12">Edit Email</h3>
    <form method="post" asp-action="UpdateAdminEmail" asp-controller="Login" class="p-5 bg-light">
        <input type="hidden" asp-for="AppUserID" />
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" asp-for="Email" class="form-control" id="Email">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>