@{
    ViewData["Title"] = "BlogDetail";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">

            @await Component.InvokeAsync("_BlogDetailsMainComponentPartial", new { id = ViewBag.BlogID })

            <div class="col-md-4 sidebar ftco-animate">

                @await Component.InvokeAsync("_BlogDetailsCategoryComponentPartial")

                @await Component.InvokeAsync("_BlogDetailsRecentBlogComponentPartial")

                @await Component.InvokeAsync("_BlogDetailsTagCloudComponentPartial", new { id = ViewBag.BlogID })

            </div>

        </div>
    </div>
</section>