@model RentACarProject.Dto.CarDescriptionDtos.ResultCarDescriptionByCarIDDto
<style>
    .car-description {
        font-size: 18px;
    }
</style>

<div class="tab-pane fade" id="pills-manufacturer" role="tabpanel" aria-labelledby="pills-manufacturer-tab">
    <p class="car-description">@Model.Details</p>
</div>
