@{
    ViewData["Title"] = "CarDetail";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<section class="ftco-section ftco-car-details">
    <div class="container">

        @await Component.InvokeAsync("_CarDetailMainCarFeatureComponentPartial", new { id = ViewBag.CarID })

        <div class="row">
            <div class="col-md-12 pills">
                <div class="bd-example bd-example-tabs">

                    @await Component.InvokeAsync("_CarDetailTabPaneComponentPartial")

                    <div class="tab-content" id="pills-tabContent">

                        @await Component.InvokeAsync("_CarDetailCarFeatureByCarIDComponentPartial", new { id = ViewBag.CarID })

                        @await Component.InvokeAsync("_CarDetailCarDescriptionByCarIDComponentPartial", new { id = ViewBag.CarID })

                        @await Component.InvokeAsync("_CarDetailCommentsByCarIDComponentPartial", new { id = ViewBag.CarID })

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

