@model CreateBannerDto

@{
    ViewData["Title"] = "CreateBanner";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">New Banner Information Entry</h4>
                        <p class="card-subtitle mb-4">
                            You can enter data into the banner field from the panel below. In order to avoid any distortion in the design, after entering a new banner, delete the previous banner area; only 1 banner data should remain.
                        </p>
                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputTitle">Title</label>
                                <input type="text" class="form-control" id="exampleInputTitle" asp-for="Title" oninput="this.value = this.value.replace(/[^a-zA-ZçÇğĞıİöÖşŞüÜ\s]/g, '')">
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputDescription">Description</label>
                                <input type="text" class="form-control" id="exampleInputDescription" asp-for="Description">
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputVideoDescription">Video Description</label>
                                <input type="text" class="form-control" id="exampleInputVideoDescription" asp-for="VideoDescription">
                                <span asp-validation-for="VideoDescription" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputVideoUrl">Video Url</label>
                                <input type="text" class="form-control" id="exampleInputVideoUrl" asp-for="VideoUrl">
                                <span asp-validation-for="VideoUrl" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Save Banner</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

