@model CreateTestimonialDto

@{
    ViewData["Title"] = "CreateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">New Testimonial Page Data Entry Area</h4>
                        <p class="card-subtitle mb-4">
                            This is the page where you can add a new testimonial. Simply fill in the information completely and click the save button.
                        </p>
                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputName">Testimonial Name</label>
                                <input type="text" class="form-control" id="exampleInputTitle" asp-for="Name" oninput="this.value = this.value.replace(/[^a-zA-ZçÇğĞıİöÖşŞüÜ\s]/g, '')">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputTitle">Testimonial Title</label>
                                <input type="text" class="form-control" id="exampleInputTitle" asp-for="Title" oninput="this.value = this.value.replace(/[^a-zA-ZçÇğĞıİöÖşŞüÜ\s]/g, '')">
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputImageUrl">Testimonial Image URL</label>
                                <input type="text" class="form-control" id="exampleInputVideoUrl" asp-for="ImageUrl">
                                <span asp-validation-for="ImageUrl" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputComment">Testimonial Comment</label>
                                <textarea rows="5" asp-for="Comment" class="form-control" placeholder="Write your comment here."></textarea>
                                <span asp-validation-for="Comment" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Save Testimonial Information</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
