@model List<ResultCarPricingWithCarDto>
@using Newtonsoft.Json

@{
    var carModels = Model.Select(x => x.Model).ToList();
    var carAmounts = Model.Select(y => y.Amount).ToList();
}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="col-lg-4">
    <div class="card">
        <div class="card-body" style="padding-bottom: 2rem;">
            <h4 class="card-title d-inline-block">Daily Rental Figures</h4>
            <div style="height:260px;">
                <canvas id="my1Chart"></canvas>
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        var ctx = document.getElementById('my1Chart').getContext('2d');

                        var labels = @Html.Raw(JsonConvert.SerializeObject(carModels));
                        var data = @Html.Raw(JsonConvert.SerializeObject(carAmounts));

                        var myChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: labels,
                                datasets: [{
                                    label: 'Daily Rental Chart',
                                    data: data,
                                    borderColor: 'rgba(75,192,192,1)',
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    });
                </script>
            </div>
            <div class="row text-center mt-4">
                <div class="col-12">
                    <h3 class="card-title d-inline-block">Daily Rental Price Chart</h3>
                </div>
            </div>
        </div>
    </div>
</div>
