<div class="menu-overlay"></div>

@* <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
 *@<script src="~/Admin/vertical/assets/js/bootstrap.bundle.min.js"></script>
<script src="~/Admin/vertical/assets/js/metismenu.min.js"></script>
<script src="~/Admin/vertical/assets/js/waves.js"></script>
<script src="~/Admin/vertical/assets/js/simplebar.min.js"></script>
<script src="~/Admin/vertical/assets/js/theme.js"></script>
@* <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 *@